@import "../fonts/fonts.scss";
$primaryColor : #663299;
$seconadaryColor : #db0a5b;
$darkColor : #181818;

@mixin ulStyle {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
@mixin  Button {
    padding: 0.8rem 1rem;
    min-width: 200px;
    max-width: fit-content;
    background-color: $primaryColor;
    color: #fff;
    position: relative;
    
    border: 0;
  
}
@mixin Button-Before {
    position: absolute;
    content: "";
    height : 100%;
    background-color: $seconadaryColor;
    top: 0px;
    left: 0px;
    width: 5px;
}

@mixin media($minwidth , $maxwidth) {
  @media only screen and (min-width :$minwidth )and (max-width: $maxwidth) {
    @content;
  }
}